/* ==========================================================================
  # MORE TOKENS
  ========================================================================== */

  @layer base {
    :root {
      /* Fluid type, moving between two modular scales (i) tighter; and ii) more expansive)
          @link https://utopia.fyi/type/calculator?c=320,17,1.067,1140,20,1.125,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
      --step--2: clamp(0.93rem, calc(0.91rem + 0.11vw), 0.99rem);
      --step--1: clamp(1.00rem, calc(0.95rem + 0.23vw), 1.11rem);
      --step-0: clamp(1.06rem, calc(0.99rem + 0.37vw), 1.25rem);
      --step-1: clamp(1.13rem, calc(1.03rem + 0.53vw), 1.41rem);
      --step-2: clamp(1.21rem, calc(1.06rem + 0.73vw), 1.58rem);
      --step-3: clamp(1.29rem, calc(1.10rem + 0.95vw), 1.78rem);
      --step-4: clamp(1.38rem, calc(1.13rem + 1.22vw), 2.00rem);
      --step-5: clamp(1.47rem, calc(1.16rem + 1.53vw), 2.25rem);

      /* Fluid space, moving between two modular scales (i) tighter; and ii) more expansive)
          @link https://utopia.fyi/space/calculator?c=320,17,1.067,1140,20,1.125,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
      --space-3xs: clamp(0.25rem, calc(0.23rem + 0.12vw), 0.31rem);
      --space-2xs: clamp(0.56rem, calc(0.54rem + 0.12vw), 0.63rem);
      --space-xs: clamp(0.81rem, calc(0.76rem + 0.24vw), 0.94rem);
      --space-s: clamp(1.06rem, calc(0.99rem + 0.37vw), 1.25rem);
      --space-m: clamp(1.63rem, calc(1.53rem + 0.49vw), 1.88rem);
      --space-l: clamp(2.13rem, calc(1.98rem + 0.73vw), 2.50rem);
      --space-xl: clamp(3.19rem, calc(2.97rem + 1.10vw), 3.75rem);
      --space-2xl: clamp(4.25rem, calc(3.96rem + 1.46vw), 5.00rem);
      --space-3xl: clamp(6.38rem, calc(5.94rem + 2.20vw), 7.50rem);

      /* One-up pairs */
      --space-3xs-2xs: clamp(0.25rem, calc(0.10rem + 0.73vw), 0.63rem);
      --space-2xs-xs: clamp(0.56rem, calc(0.42rem + 0.73vw), 0.94rem);
      --space-xs-s: clamp(0.81rem, calc(0.64rem + 0.85vw), 1.25rem);
      --space-s-m: clamp(1.06rem, calc(0.75rem + 1.59vw), 1.88rem);
      --space-m-l: clamp(1.63rem, calc(1.28rem + 1.71vw), 2.50rem);
      --space-l-xl: clamp(2.13rem, calc(1.49rem + 3.17vw), 3.75rem);
      --space-xl-2xl: clamp(3.19rem, calc(2.48rem + 3.54vw), 5.00rem);
      --space-2xl-3xl: clamp(4.25rem, calc(2.98rem + 6.34vw), 7.50rem);

      /* Custom pairs */
      --space-s-l: clamp(1.06rem, calc(0.50rem + 2.80vw), 2.50rem);

      /* Define OpenType features that I want to be able to turn on
      and off via utility classes */
      --opentype-case: off;
      --opentype-sinf: off;
    }
  }


  /* ==========================================================================
    # FONTS
    ========================================================================== */

  /*
  I've moved the contents of this section to the <head> of the base layout (thereby each
  HTML file) where it is inlined and will be loaded early.
  */

  /* ==========================================================================
    # SIMPLEST RESET (JUST A 1ST DRAFT)
    ========================================================================== */

  /**
  * 1. Figure is for images, illustrations, diagrams, code snippets etc. No need
  * for any of those use cases to require the browser default inline margin.
  */

  @layer base {
    :root {
      box-sizing: border-box;

      /* Disable now-unnecessary iPhone behaviour
          https://css-tricks.com/your-css-reset-needs-text-size-adjust-probably/ */
      -moz-text-size-adjust: none;
      -webkit-text-size-adjust: none;
      text-size-adjust: none;

      /*  Turn off subpixel-antialising.
          Makes web browsers on a Mac OS render text just like everywhere else on a Mac OS.
          Also results in more consistency across operating systems.
      */
      -webkit-font-smoothing: antialiased;

      color: var(--color-dark);
      font-family: "Source Sans Pro", "Source Sans Pro-fallback", system-ui, sans-serif;
    }


    /* Apply current state of all font-feature custom properties, defaulting to off */
    * {
        font-feature-settings: "case" var(--opentype-case, off), "sinf" var(--opentype-sinf, off);
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

    body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
      margin: 0;
    }

    body {
      /* I used to also set font-size: 100% on the root. Effectively that
      explicitly sets the root font size to the browser default of 16px
      in all browsers. But it’s probably unnecessary to do that.
      I probably also did in the past so that I could change it within
      a media query if I wanted to, but I’m no longer changing font-size
      based on a media query. These days I’m using a Utopia-powered fluid
      type scale. My understanding is that it’s also better to set the top-level
      font-size on body rather than root, although I’m not yet quite sure why.
      */
      font-size: var(--step-0);

      line-height: 1.4;

      text-decoration-skip-ink: auto;
      font-optical-sizing: auto;
      font-variant-ligatures: common-ligatures no-discretionary-ligatures no-historical-ligatures contextual;
      font-kerning: normal;

      /* ensure the footer displays at the bottom of the viewport
      regardless of the amount of <main> or <footer> content */
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

    .global-footer {
      margin-top: auto;
    }

    /* the following elements are either less readable,
    or look wrong, if they stretch too wide. So we set
    a sensible max-width on them */
    p, li, blockquote, h4 {
      max-inline-size: var(--measure);
    }

    h1 {
      font-variant-ligatures: discretionary-ligatures;
      max-width: var(--h1-measure);
    }

    ul, ol {
      /* Set margin and padding such that list markers
          don’t hang out in the margin on the narrowest screens.
          Note: it’s better to do it this way than set list-style-position
          to `inside`. This way avoids text wrapping underneath marker. */
      margin: 0 0 0 var(--space-m);
      padding: 0;

      /* On wider screens we can allow hanging list bullets.
          It’s a nice typographic effect.
          TODO: disabled until I update it to only happen where appropriate */

      /* @media only screen and (min-width: 60em) {
            margin-left: 0;
          } */
    }

    ul[role='list'],
    ol[role='list'] {
      list-style: none;
      margin-left: 0;
    }

    blockquote {
      border-left: var(--border-thick) solid var(--color-grey);
      padding-left: var(--space-xs);
      font-style: italic;

      & > * + * {
        margin-top: var(--flow-gap, var(--space-s));
      }
    }

    img,
    picture {
      max-width: 100%;
    }

    button, input, label {
      line-height: 1.1;
    }

    input, button, textarea, select {
      font-family: inherit;
      font-size: inherit;
    }

    input, textarea {
      width: 100%;
      max-inline-size: var(--measure);
    }

    label {
      display: block;
    }

    svg {
      display: block;
    }

    /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
    @media (prefers-reduced-motion: reduce) {
      *,
      *::before,
      *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
      }
    }

    /* TODO: Code snippet and code block styles go here */

    /* For all <code> */

    /* https://github.com/h5bp/html5-boilerplate/blob/main/dist/css/normalize.css */
    /* …because browsers have weird sizing quirks for the code element. */

    /**
    * 1. Correct the inheritance and scaling of font size in all browsers.
    * 2. Correct the odd `em` font sizing in all browsers.
    * 3. For the specific combo of monospace within Source Sans Pro, less than 1em works better.
    */
    code,
    kbd,
    samp,
    pre {
      font-family: monospace, monospace; /* 1 */
      font-size: 1em; /* 2 */
    }

    /* Code in text */

    /* This covers instances of <code> in any heading */
    code {
      font-size: 0.9em; /* 3 */
      font-variant-numeric: slashed-zero;
    }

    p > code,
    li > code,
    dd > code,
    td > code {
      font-size: 0.85em; /* 3 */
      font-style: normal;
      background: #ffeff0;
      word-wrap: break-word;

      /* https://caniuse.com/css-boxdecorationbreak */
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;

      padding: .1rem .3rem .2rem;
      border-radius: .2rem;
    }
  }


  /* ==========================================================================
    # LINKS
    ========================================================================== */

  @layer links {
    a {
      color: var(--color-link);

      &:hover {
        color: var(--color-link-hover);
      }
    }
  }


  /* ==========================================================================
    # TYPOGRAPHY
    ========================================================================== */

  @layer base {
    h1, h2, h3, h4, h5, h6 {
      font-family: Antonia, serif;
      text-wrap: pretty;
    }

    h1, h2, h3, h4 {
      font-variant-numeric: lining-nums;
    }

    h1, h2, h3 {
      line-height: 1.1;
    }

    h1 {
      font-size: var(--step-4);
      font-size-adjust: 0.488;
      font-variant-ligatures: discretionary-ligatures;

      &.uppercase {
        font-variant-caps: titling-caps;
      }

      /* target space between an h1 and the next element,
      regardless of what that next element is and what type of
      container/pattern the h1 is in */
      & + * {
        margin-block-start: var(--space-l);
      }
    }

    h2 {
      font-size: var(--step-2);
    }

    h3 {
      font-size: var(--step-1);
      line-height: 1.15;
    }

    strong, b, th {
      font-weight: bold;
    }

    figcaption {
      color: var(--color-grey-text);
      font-size: var(--step--2);
      line-height: 1.1;
      margin-top: var(--space-3xs);
    }

    td, math, time[datetime*=":"] {
      font-variant-numeric: tabular-nums lining-nums slashed-zero;
    }

    /* Sup and sub */
    @supports ( font-variant-position: sub ) {
        sub, .sub {
            vertical-align: baseline;
            font-size: 100%;
            line-height: inherit;
            font-variant-position: sub;
        }
    }
    @supports ( font-variant-position: super ) {
        sup, .sup {
            vertical-align: baseline;
            font-size: 100%;
            line-height: inherit;
            font-variant-position: super;
        }
    }

    /* quotes */

    /* Set punctuation order for inline quotes. */
    :lang(en) > * { quotes: '“' '”' '‘' '’' ; } /* “Generic English ‘style’” */
    :lang(en-GB) > * { quotes: '‘' '’' '“' '”'; } /* ‘British “style”’ */
    :lang(fr) > * { quotes: '«?0202F' '?0202F»' '“' '”'; } /* « French “style” » */

    /* Insert quotes before and after q element content.
    Use like so:
    <p>The word incunabula comes from the Latin cunae, meaning <q>cradle.</q></p> */
    q::before { content: open-quote }
    q::after  { content: close-quote }

    /* Use class `quoted` on blockquotes. This will insert quote marks
    before and after the content. Write a blockquote like so: */
    /* <blockquote class="quoted">
      <p>Typography has one plain duty before it.</p>
    </blockquote> */
    .quoted, .quoted p, .quoted q {
      quotes: "“" "”" "‘" "’";
    }

    /* Append quotes to the first and last paragraphs in the blockquote. */
    .quoted p:first-of-type::before {
      content: open-quote;
    }
    .quoted p:last-of-type::after  {
      content: close-quote;
    }

    /* prose */

    .prose {
      font-variant-numeric: oldstyle-nums proportional-nums;
      /* Hang all punctuation in your prose block. */
      hanging-punctuation: first allow-end last;

      /* Include additional refinements to hyphenation.
      Stop short words being hyphenated,
      prevent ladders of hyphens, and
      reduce overall hyphenation a bit.
      Safari uses legacy properties to achieve some of the same effects,
      hence the ugly prefixes and slightly different syntax. */
      -webkit-hyphens: auto;
      -webkit-hyphenate-limit-before: 4;
      -webkit-hyphenate-limit-after: 3;
      -webkit-hyphenate-limit-lines: 2;

      hyphens: auto;
      hyphenate-limit-chars: 7 4 3;
      hyphenate-limit-lines: 2;
      hyphenate-limit-zone: 8%;
      hyphenate-limit-last: always;

      /* prose spacing:
      We make the space above each element relative to the line-height of the element.
      So an h2 will get more space above it than a p, which is appropriate.
      We also allow the default spacing to be overridden via a custom property.
      */
      & > *:not(h1) + * {
        margin-block-start: var(--prose-space, 0.5lh);
      }

      /* Reduce the space above elements that immediately follow headings
      (Use :where() on the .ha class to reduce selector specificity, to allow easier overridding by subsequent rules.)
      */
      & > h2 + *,
      & > h3 + *,
      & > h4 + *,
      & > :where(.ha) + * {
        --prose-space: var(--space-2xs);
      }

      /* Increase the space above headings */
      & > *:not(h1) + h2,
      & > * + h3,
      & > * + h4 {
        --prose-space: 1.25em;
      }
    }

    pre, code, var, samp, kbd,
    h1, h2, h3, h4, h5, h6, .u-no-hyphens {
      -webkit-hyphens: manual;
      hyphens: manual;
    }
  }


  /* ==========================================================================
    # HIDING
    ========================================================================== */

  /*
    * 1. Hide in all usage contexts
    * 2. Hide visually only (but show it if it’s a focusable element that’s been focused/active by user via keyboard nav’n or screen reader.)
    * Ref: Scott O’Hara’s best practice method https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
    * 3. Alternative visually hidden technique for special cases when we want to animate content into view on focus…
    * …the most common example being the “Skip to content” pattern.
  */

  @layer utilities {
    /* [1] */
    .u-hidden-from-all,
    [hidden] {
      display: none !important;
    }

    /* [2] */
    .u-visually-hidden:not(:focus):not(:active) {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    /* [3] */
    .u-hidden-until-focused {
      left: -100vw;
      position: absolute;
    }

    .u-hidden-until-focused__item {
      z-index: 1;
      background: var(--color-link-hover);
      color: var(--color-light);
      left: 0;
      padding: 0.75em;
      position: fixed;
      top: 0;
      transform: translateY(-10em);
      transition: transform .2s ease-in-out;
      &:focus {
        transform: translateY(0em);
      }
    }

    .u-hidden-until-focused__link {
      &:hover {
        color: var(--color-light);
      }
    }
  }


  /* ==========================================================================
     # MEDIA
     ========================================================================== */

  /*
    * 1. Remove the border on images in older browsers.
    * 2. Set images to display block because we will never want to display them inline.
    * 3. Prevent wide images from overflowing their parent, and cap their width sensibly.
    * 4. Ensure an image’s aspect ratio is maintained when it has the HTML height attribute set AND also CSS max-width has been triggered.
    * 5. Utility to set an image or other media to 100% container-width so that we know it will achieve that width even if
         it has a width attribute (present for performance reasons) set to something narrower. Note: I have not included height: auto.
         It’s only required when the image has the HTML height attribute set and I already have a previous rule handling that.
  */

  @layer base {
    img {
      /* [1] */
      border-style: none;
      /* [2] */
      display: block;
      /* [3] */
      max-width: 100%;
      max-width: min(60rem, 100%);
      /* [4] */
      &[height] {
        height: auto;
      }
    }
  }

  @layer utilities {
    /* [5] */
    .u-full-parent-width {
      width: 100% !important;
    }
  }


  /* ==========================================================================
    # LAYOUTS
    ========================================================================== */

  @layer layouts {

    /* Stack
    Usage notes:
    - Use margin-top, not gap, because gap is less flexible to work with for this purpose.
    You can’t unset or modify gap on an “exception” element. You also get situations when
    there are other, non-gap styles acting on elements, and end up with gap and margin-top
    combining in an undesirable way.
    - When setting or overriding the --stack-gap value, always set it on the children.
    Do not “hoist” it up. If we set it on the parent, it will get overridden if the parent
    becomes a child in nesting.
    */
    .l-stack {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      /* The child combinator (>) ensures the margins only apply
      to children of the .l-stack element (and not more deeply nested elements). */
      & > * + * {
        margin-block-start: var(--stack-gap, var(--space-s));
      }

      /* Where the Stack is the only child of its parent, nothing forces it to stretch.
      A height of 100% ensures the Stack's height matches the parent's, making
      “splitting the stack” possible. */
      &:only-child {
        block-size: 100%;
      }
    }

    .l-stack--large > * + * {
      --stack-gap: var(--space-l);
    }

    /* Recursive stack
    Notes:
    1. Use when you want the same stack space at all nesting levels.
    2. Use with caution, and on simple content, or it’s likely to lead to unwanted results.
    3. This is a separate class rather than a modifier of the main Stack class,
    in case the “child combinator” versus “without child combinator” approaches conflict.
    */
    .l-stack-recursive * + *  {
      margin-block-start: var(--stack-gap, var(--space-s));
    }

    /* Exceptions:
    Give one or more “stack item” elements within a stack a different “space above” value than
    the others. Target that/those elements via an appropriate selector; perhaps a class.
    Set the --stack-gap variable as desired.
    (If the element is itself a stack, the customised --stack-gap variable should not propagate undesirably to its children,
    so long as all stack styles that use the custom property always position it on _stack children_ like I mention in usage notes above.)
    Note: you could also add `.stack-exception + *` to the selector, to apply the spacing below the element as well as above.
    Example:
    .stack-exception {
      --stack-gap: var(--space-xl);
    }
    */


    /* Box */
    .l-box {
      padding: var(--space-s);
      border: var(--border-thin) solid;
      color: var(--color-dark);
      background-color: var(--color-light);
      * {
        color: inherit;
      }
    }

    .l-box--invert {
      color: var(--color-light);
      background-color: var(--color-dark);
    }

    .l-box--outlined {
      border: 0 solid;
      outline: var(--border-thin) solid transparent;
      outline-offset: calc(var(--border-thin) * -1);
    }

    .l-box--med {
      padding: var(--space-m);
    }

     /* Center */
    .l-center {
      --center-max-inline-size: var(--measure);

      box-sizing: content-box;
      margin-inline: auto;
      max-inline-size: var(--center-max-inline-size);
    }

    .l-center--wrapper {
      --center-max-inline-size: 60em;
    }

    .l-center--wrapper-narrow {
      --center-max-inline-size: 42em;
    }

    /* Cluster */
    .l-cluster {
      --cluster-justify-content: flex-start;

      display: flex;
      justify-content: var(--cluster-justify-content);
      align-items: center;
      flex-wrap: wrap;

      /* if a --cluster-gap var is set, use that.
        But we don’t set --cluster-gap with any default,
        because (for now) when it’s passed in we want that value
        to propagate to nested clusters too,
        rather than the nested cluster resetting the gap to a default value. */
      gap: var(--cluster-gap, var(--space-s));
    }

    .l-cluster--space-between {
      --cluster-justify-content: space-between;
    }

    .l-cluster--xs {
      --cluster-gap: var(--space-xs);
    }

    /* Switcher */
    .l-switcher {
      --switcher-threshold: 30rem;
      --switcher-gap: var(--space-s, 1rem);

      display: flex;
      flex-wrap: wrap;
      gap: var(--switcher-gap);
      & > * {
        flex-grow: 1;
        flex-basis: calc((var(--switcher-threshold) - 100%) * 999);
      }
      & > :nth-last-child(n+4),
      & > :nth-last-child(n+4) ~ * {
        flex-basis: 100%;
      }
    }

    /* Frame
    https://every-layout.dev/layouts/frame */
    .l-frame {
      --n: 16;
      --d: 9;
      aspect-ratio: var(--n) / var(--d);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      & > * {
        inline-size: 100%;
        block-size: 100%;
        object-fit: cover;
      }
    }
  }


  /* ==========================================================================
    # ICONS
    ========================================================================== */

  @layer components {
    /* TODO: rename to .icon__with-text or similar  */
    .text-icon-pair {
      display: inline-flex;
      align-items: center;
      gap: 0.125em;
      & > svg {
        width: 0.75em;
        height: 0.75em;
      }
    }
  }


  /* ==========================================================================
    # BUTTONS
    ========================================================================== */

   /* TODO: the HTML should reuse .icon__with-text rather than reinventing. */
  @layer components {
    .btn-icon {
      display: flex;
      align-items: center;
      gap: 0.125em;
    }
  }



  /* ==========================================================================
    # TAGS
    ========================================================================== */

  @layer components {
    .tags {
      --cluster-gap: var(--space-2xs);
    }
  }



  /* ==========================================================================
    # FORMS
    ========================================================================== */

  @layer components {
    .form__fields {
      > * + * {
        margin-top: 1em;
      }
    }
  }



  /* ==========================================================================
    # SEARCH
    ========================================================================== */

  @layer base {
    @keyframes fadeIn {
      /* for a 2-step animation in keyframes,
      defining start or end alone is sufficient */
      from {
        opacity: 0;
      }
    }
  }

  @layer components {
    .search, .searchform-basic {
      /* min-height to reduce CLS during progressive enhancement */
      min-height: 3.2em;
    }

    .searchform-basic {
      /* fade in the basic fallback form rather than showing it immediatately.
      This allows time for the enhanced pagefind form to load in and
      lessens the likelihood of a jarring transition between the two.
      Note: if the pagefind form fails to load, the basic form will be
      presented. */
      animation: fadeIn 3s ease-in-out;
    }
  }



  /* ==========================================================================
    # ARTICLES
    ========================================================================== */

  /* this is horrible. TODO: sort the HTML out. */

  @layer components {
    /* Lists of articles */
    .h-feed > * + * {
      margin-top: var(--space-xl);
      padding-top: var(--space-xl);
      border-top: var(--border-thin) solid var(--color-grey-dark);
    }

    /* Individual article header
    (heading + meta info) */
    /* .post__header {
      margin-block-start: 0;
    } */

    .post__meta {
      margin-block-start: 0;
      color: var(--color-grey-text);
      font-size: var(--step--1);
      font-variant-numeric: lining-nums;

      a {
        color: var(--color-grey-text);

        &:hover {
          color: var(--color-link-hover);
        }
      }
    }

    .post__footer {
      /* https://every-layout.dev/layouts/stack/#the-solution ("Exceptions" section) */
      --flow-gap: var(--space-l, 1rem);
    }

    /* h1.p-name {
       margin-top: var(--space-3xs);
    } */

    .direct-link {
      text-decoration: none;

      &:link,
      &:visited,
      &:active {
        color: transparent;
      }

      &:hover {
        color: var(--color-link-hover);
      }
    }

    .traverse {
      display: flex;
      justify-content: space-between;
    }
  }



  /* ==========================================================================
    # PAGE FURNITURE
    ========================================================================== */

  @layer components {
    /* Temporary way of setting measure just so that banner can be full-width but everything else not. */
    .global-header, .primary-content, .global-footer {
      /* max-width: 65ch;
      margin: 1rem;

      padding-inline: 1.5em; // temp */
    }
  }


  /* ==========================================================================
    # BANNER
    ========================================================================== */

  @layer components {
    .banner {
      background: #333;
      color: #fff;
      /* margin: 0; ensure there’s no margin-top arising by mistake from a parent .flow class */
      padding: 1em 1.5em;

      & > * {
        max-width: unset;
      }
    }
  }



  /* ==========================================================================
    # GLOBAL HEADER
    ========================================================================== */

  @layer components {
    .global-header {
      /* usually we want this to be the visually topmost element
        (unless we’re showing a banner).
        But local server software sometimes injects script elements above
        and if the parent has a .flow class then the combination would give the header a margin we don’t want. */
      /* margin: 0; */
      padding: var(--space-m) var(--space-s);
    }
  }


  /* ==========================================================================
    # PRIMARY CONTENT
    ========================================================================== */

  @layer components {
    .primary-content {
      /* padding: var(--space-m) var(--space-s) var(--space-3xl); */
    }

    .primary-content__intro {
      background-color: var(--color-grey-with-hue);
      padding: var(--space-l) var(--space-s);
    }

    .primary-content__body {
      padding: 0 var(--space-s) var(--space-3xl) var(--space-s);

      .primary-content__intro + & {
        padding-top: var(--space-l);
      }
    }

    .welcome-message {
      /* here, we want less than the typical space between a h1 and next paragraph */
      & h1 + * {
        margin-block-start: var(--space-xs);
      }
    }
  }


   /* ==========================================================================
      # LOGO
      ========================================================================== */

  @layer components {
    .logo {
      color: var(--color-dark);
      font-size: 1.7em;
      text-decoration: none;
      display: flex;
      gap: 0.75rem;
      align-items: center;

      &:hover {
        color: var(--color-link-hover);
      }
    }

    .logo__mark {
      margin-top: -0.35em;
    }

    .logo__text {
      font-size: var(--step-1);
      /* font-size: 0.8em;
      margin-block-start: 14px;
      letter-spacing: -0.0125em; */
    }
  }


  /* ==========================================================================
    # PRIMARY NAV
    ========================================================================== */

  @layer components {
    .primary-navigation {
      /* font-size: var(--step-1); */

      [aria-current=page] {
        color: var(--color-link-hover);
      }
    }
  }


  /* ==========================================================================
    # GLOBAL FOOTER
    ========================================================================== */

  @layer components {
    .global-footer {
      background-color: var(--color-grey-with-hue);
      padding: var(--space-m) var(--space-s);
      font-size: var(--step--1);

      /* the footer has a grey background against which our standard
        link colour would have insufficient contrast,
        so darken links */
      a {
        color: var(--color-dark);
      }
    }

    .global-footer__grid {
      --switcher-gap: var(--space-m, 1rem);
    }
  }



  /* ==========================================================================
    # DEEP LINKING
    ========================================================================== */

  @layer components {
    heading-anchors:not(:defined) :is(h2,h3,h4,h5,h6):after {
      content: "#";
      padding: 0 .25em;
      opacity: 0;
    }

    .ha {
      /* stop this “special inserted element” from getting stack margin */
      margin-top: 0;
    }
  }



  /* ==========================================================================
    # MISC UTILITIES
    ========================================================================== */

  @layer utilities {
    .u-display\:block {
      display: block;
    }

    /* TODS general utility classes */

    /* If class is applied, set boolean custom property to on */
    .case {
      --opentype-case: on;
    }

    .sinf {
      --opentype-sinf: on;
    }

    .u-chemical {
      --opentype-sinf: on;
    }

    /* When centring text you’ll almost always want
    the text to be ‘balanced’, meaning roughly the
    same number of characters on each line. */
    .u-centered {
      text-align: center;
      text-wrap: balance;
    }

    .u-uppercase {
      text-transform: uppercase;
      --opentype-case: "case" on;
    }

    .u-smallcaps {
      font-variant-caps: all-small-caps;
      font-variant-numeric: oldstyle-nums;
    }

    /* TODS OpenType utility classes */
    .dlig { font-variant-ligatures: discretionary-ligatures; }
    .hlig { font-variant-ligatures: historical-ligatures; }
    .dlig.hlig { font-variant-ligatures: discretionary-ligatures historical-ligatures; } /* Apply both historic and discretionary */

    .pnum { font-variant-numeric: proportional-nums; }
    .tnum { font-variant-numeric: tabular-nums;    }
    .lnum { font-variant-numeric: lining-nums; }
    .onum { font-variant-numeric: oldstyle-nums; }
    .zero { font-variant-numeric: slashed-zero;    }
    .pnum.zero { font-variant-numeric: proportional-nums slashed-zero; } /* Apply slashed zeroes to proportional numerals */
    .tnum.zero { font-variant-numeric: tabular-nums slashed-zero; }
    .lnum.zero { font-variant-numeric: lining-nums slashed-zero; }
    .onum.zero { font-variant-numeric: oldstyle-nums slashed-zero; }
    .tnum.lnum.zero { font-variant-numeric: tabular-nums lining-nums slashed-zero; }
    .frac { font-variant-numeric: diagonal-fractions; }
    .afrc { font-variant-numeric: stacked-fractions; }
    .ordn { font-variant-numeric: ordinal; }

    .smcp { font-variant-caps: small-caps; }
    .c2sc { font-variant-caps: unicase; }
    .hist { font-variant-alternates: historical-forms; }

  }
