// Full Viewport Width
.special {

  // Ref: https://css-tricks.com/full-width-containers-limited-width-parents/ (Sven Wolfermann https://codepen.io/maddesigns/pen/rOMgpQ/)
  // push to the exact middle of the browser window with left: 50%, then pull it back to the left edge with negative -50vw margin.
  // note 1: requires the parent to be exactly centered in the browser.
  // note 2: I’ve taken out the 'right' and 'margin-right' properties because they’re only needed if your site might use direction: rtl
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;

  // or: https://andy-bell.design/wrote/creating-a-full-bleed-css-utility/
  //width: 100vw;
  //margin-left: 50%;
  //transform: translateX(-50%);
}
