// start with basic inline code element i.e. could appear within the running text of a paragraph or heading
// Note: using ems so that any tweaked font-size scales up whether in a <p> or <h1>
// Note 2: nice style treatments could be:
// - bold and coloured per https://andy-bell.design/wrote/keep-it-simple/; or
// - regular, normal-coloured, on coloured background like on https://css-tricks.com/what-if-we-got-aspect-ratio-sized-images-by-doing-almost-nothing/

// code, pre {
//   color: #000;
//   background: 0 0;
//   text-shadow: 0 1px #fff;
//   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace, monospace;
//   text-align: left;
//   white-space: pre;
//   word-spacing: normal;
//   word-break: normal;
//   font-variant-ligatures: none;
//   word-wrap: normal;
//   tab-size: 4;
//   hyphens: none;
// }

// code {
//   background: #f6f3f2;
//   color: #333;
//   display: inline-block;
//   font-size: scale-value(-1)+rem;
//   font-feature-settings: normal;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   padding: 0 .275em;
// }

// pre {
//   background: #f5f2f0;
//   border: 1px solid #eee;
//   border-radius: 8px;
//   min-width: 250px;
//   max-width: 100vw;
//   overflow: auto;
//   padding: 1em;
//   resize: both;
// }

// pre code {
//   color: #000;
//   background: 0 0;
//   text-shadow: 0 1px #fff;
// }

// 11ty-base-blog stuff

pre,
code {
  font-family: Consolas, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  font-size: scale-value(-1)+rem;
  //line-height: 1.5;
}

pre {
  // font-size: 14px;
  // line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
  overflow-x: auto;
}

.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}

/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}

.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}

.highlight-line-add {
  background-color: #45844b;
}

.highlight-line-remove {
  background-color: #902f2f;
}
