@import 'fonts';

// Presets, functions and resets
@import 'variables_general';
@import 'mixins_general';
@import 'resets_and_improvements';

// Typographic and other core HTML elements
@import 'typography';
@import 'list_utils';
@import 'code';
//@import 'index';
@import 'section-permalinks';
@import 'prism-base16-monokai.dark';

//@import 'tables.scss';

// Layout and responsiveness
@import 'responsive_layout_utilities';
//@import 'media_objects';
//@import 'breakout';
@import 'rooted_footer';


// Buttons, special links, and forms
@import 'svg_and_text_pairs';
@import 'forms_and_buttons';

// Other components
//@import 'profile_pic';
//@import 'tabs';
@import 'skiplinks';
//@import 'modals';
//@import 'show_and_hide';
//@import 'content_slider';
@import 'search';

// Minimum required utility classes
@import 'helpers';



///////////////////////////////////
// Common patterns
///////////////////////////////////

// Icons in menus (e.g. search magnifying glass)

.footer-menu svg,
.header-menu svg {
  display: block;
}

// Captions

figcaption {
  font-size: scale-value(-2)+rem;
  color: #999;
  margin-top: scale-value(-6)+rem;
}


// Responsive Embedded Media (youtube videos etc)

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


// Index pages (e.g. Work, Labs)

.section-index-header {
  background: linear-gradient($color-accent, $color-accent) no-repeat bottom left/2.4em 0.2ch;
  padding-bottom: scale-value(4)+rem;
  // Add a generous whitespace after, overriding any generic stack spacing
  & + * {
    margin-top: 2rem;
  }
}


// Blog stuff

.posts-list-group-heading {
  margin-bottom: 2rem;
  font-size: scale-value(0)+rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #333;
}

.h-entry header {
  @include stack();
  //position: relative;
}

.h-entry header > * + * {
  --flow-space: #{(scale-value(-5) - scale-value(-6))}rem;
}

.h-entry header div {
  font-size: scale-value(-1)+rem;
  color: #999;
}


.h-entry header div > * + * {
  margin-left: (scale-value(-1) - scale-value(-2))+rem;
}

.post-type {
  font-size: scale-value(-1)+rem;
  color: #999;
  font-weight: 600;
}

.bookmark-options {
  color: #999;
}

.dt-published {
  font-size: scale-value(-1)+rem;
  color: #999;
  a {
    color: #999;
  }

  /*@include at-least($bp-wide-two) {
    position: absolute;
    left: -10rem;
    top: 0;
    text-align: right;
  }*/
}

/*.dt-published {
  @include at-least($bp-wide-two) {
    display: block;
  }
}*/

/*.entry-meta {
  color: #999;

  a {
    color: #999;
    text-decoration: underline solid #999;
  }
}

.published { //.dt-published
  color: gray;
}

.entry-meta .posted-on::before {
  content: " · ";
}*/

/*.h-entry > * + * {
  --flow-space: 1rem;
  margin-top: var(--flow-space);
}*/

.prose footer h3 + *,
.prose footer h2 + * {
  --flow-space: 1em;
}

// .tag {
//   font-size: inherit;
//   font-weight: 600;
//   display: inline-block;
//   // cursor: pointer;
//   // font-family: var(--font-special);
//   color: #999;
//   // background-color: black;
//   padding: .2em scale-value(-1)+rem;
//   border: 1px solid #ccc;
// }

// Posts in List

.feed-entry-title {
  font-size: (scale-value(-2) + scale-value(-3))+rem;
  @include at-least($bp-wide-two) {
    //font-size: scale-value(2)+rem;
    font-size: (scale-value(1) + scale-value(-5))+rem;
  }
  a {
    text-decoration: none;
    &.text-icon-pair span {
      text-decoration: none;
    }
  }
}

/*.home-feed-wrap {
  margin-top: 3rem;
}*/

/*.home-feed-wrap {
  max-width: 45rem;
}

.hfeed, .hentry {
  max-width: none;
}

.hentry {
  overflow: hidden;
}

.hentry > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(1rem / 2 * -1); // instead of var(--s1) I’ve just inserted 1rem for now.
}

.hentry > * > * {
  flex-basis: 10rem;
  flex-grow: 1;
  margin: calc(1rem / 2);
}

.hentry > * > :last-child {
  order: 1;
}

.hentry > * > :first-child {
  order: 2;
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(70% - 1rem);
}

.hentry footer {
  display: block;
  text-align: right;
}*/



/*.with-sidebar-on-left > * > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - 1rem);
}*/

/*.hentry > * > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - 0px);
}*/


/*.with-sidebar-blog-layout > *,
.with-sidebar-media-object > * {
  margin: calc(1rem / 2 * -1); // instead of var(--s1) I’ve just inserted 1rem for now.
}

.with-sidebar > * > * {
  margin: calc(0px / 2);
  flex-grow: 1;
}

.with-sidebar-blog-layout > * > * {
  margin: calc(1rem / 2);
  flex-basis: 20rem;
}

.with-sidebar-media-object > * > * {
  margin: calc(1rem / 2);
  flex-basis: 15rem;
}

.with-sidebar-on-left > * > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - 0px);
}

.with-sidebar-on-right > * > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - 0px);
}

.with-sidebar-blog-layout.with-sidebar-on-left > * > :last-child,
.with-sidebar-media-object.with-sidebar-on-left > * > :last-child {
  min-width: calc(50% - 1rem);
}

.with-sidebar-blog-layout.with-sidebar-on-right > * > :first-child,
.with-sidebar-media-object.with-sidebar-on-right > * > :first-child {
  min-width: calc(50% - 1rem);
}*/

.traverse {
  display: flex;
  margin-top: 5rem;
  a[rel~=prev] {
    margin-right: auto;
  }
  a[rel~=next] {
    margin-left: auto;
  }
}

.browse-more {
  margin-top: 5rem;
  text-align: center;
}




///////////////////////////////////
// Global Header
///////////////////////////////////

.global-header {
  padding-top: $space-xxs;
  padding-bottom: $space-xxs;
  a {
    text-decoration: none;
  }
  a[aria-current] {
    border-bottom: 1px solid $color-accent;
  }
}

.logo-and-header-menu-wrap {
  justify-content: space-between;
}

.logo {
  line-height: 1;
  svg {
    display: block;
    @include at-least($bp-wide-one) {
      font-size: (scale-value(9) + scale-value(-6))+rem;
    }
  }
}

.header-menu {
  @include cluster(); //2rem
  text-transform: uppercase;
  font-weight: 600;
  font-size: (scale-value(-6) + scale-value(-5))+rem;
  @include at-least($bp-wide-one) {
    --space: 2rem;
  }
}

.header-menu-home {
  display: none;
  @include at-least($bp-wide-one) {
    display: block;
  }
}

.header-menu-toggle a::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .2em;
  vertical-align: .2em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}


// BBC-style greedy navigation

.header-menu-hidden {
  display: none;
}



/////////////////
// Global Footer
/////////////////

.global-footer {
  font-size: scale-value(-1)+rem;
  background: $text-color;
  color: #fff;

  a {
    color: #fff;
  }

  a[aria-current] {
    border-bottom: 1px solid $color-accent;
  }

  li a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

// Start nested stack styles
.global-footer-contents-wrap {
  padding-top: 2em;
  padding-bottom: 2em;
  @include stack(2em);
}

.footer-grid,
.footer-grid section {
  @include stack(2em);
}

// space between footer grid sections
.footer-grid > * + * {
  --flow-space: 2em;
}

// space between the elements within footer grid sections
.footer-grid section > * + * {
  --flow-space: 1em;
}

.footer-grid {

  @supports (display: grid) {

    @include at-least($bp-wide-two) {
      // deactivate the stack margins used when grid is not supported.
      & > * + * {
        margin-top: 0;
      }
      display: grid;
      grid-gap: 2em;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.copyright {
  color: #999;
  a {
    color: #999;
    text-decoration-color: #999;
  }
}






///////////////////
// Primary Content
///////////////////

.primary-content {
  padding-top: $space-l;
  padding-bottom: 3rem;
  @include at-least($width-pressure-point-one) {
    padding-bottom: 6rem;
  }

  &.with-header-banner {
    padding-top: 0;
  }

  // Page-specific element spacing within the <main> element
  .page-home & {
    @include stack(4rem);
  }

}




///////////////////
// Index page
///////////////////

// Intro

.intro {
  --measure: 32rem; // tighter
  background: linear-gradient($color-accent, $color-accent) no-repeat bottom left/2.4em 0.2ch;
  padding-bottom: scale-value(4)+rem;
  @include stack();
  & > * + * {
    --flow-space: #{scale-value(2)}rem;
  }
  h1 {
    font-weight: 600;
    line-height: ( ((scale-value(-4) * 3) + (scale-value(-5))) / (scale-value(3)) );
    font-size: scale-value(3)+rem;
    letter-spacing: -.016em;

    @include at-least($width-pressure-point-one) {
      font-size: scale-value(4)+rem;
    }
    @include at-least($bp-wide-four) {
      font-size: (2 + scale-value(-6))+rem;
      line-height: 1.015; // just by eye-balling because it wants to be just above 1.
    }
  }
}


// Print styles
@import 'print';
