// I’m making this the default behaviour but alternatively could add a class to the <html> element and use the foolowing as selectors:
// .rooted-footer; .rooted-footer body; and .rooted-footer main

@supports (display: grid) {

  // Position the footer at the bottom of the page even when there is very little content.
  // https://css-tricks.com/couple-takes-sticky-footer/
  // Note: we use 100% rather than 100vh because with VH, mobile OS will overlay a toolbar over the bottom part of the viewport and thus over the footer.

  html {
    height: 100%;
  }

  body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto; // based on header + content + footer.
  }

  // Fix issue of <pre><code> extending beyond the boundaries of <main> in a grid context, even when using white-space: pre-wrap; and word-wrap: break-word;
  main {
    min-width: 0;
  }
}
