// Tables for data

.table-container {
  overflow-x: auto;
}

// Not sure what I was doing here - comment out for now
/*
@media (min-width: 400px) {
  .table-container {
    display: block;
  }

  .lists-container {
    display: none;
  }
}
*/


// Old school: Dan C.
// To Do: refine with variables, relative padding etc.

table {
  border-collapse: collapse;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
}

caption {
  color: #933;
}

th, td {
  padding: 10px;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}
