// Tables for data

.table-container {
  overflow-x: auto;
}

// Not sure what I was doing here - comment out for now
/*
@media (min-width: 400px) {
  .table-container {
    display: block;
  }

  .lists-container {
    display: none;
  }
}
*/


// Old school: Dan C.
// To Do: refine with variables, relative padding etc.

table {
  border-collapse: collapse;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  min-width: 100%;
}

th, td {
  padding: .25em;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  font-size: scale-value(-1)+rem;
}

caption {
  max-width: 100%;
  margin-bottom: 0.5em;
}
