/* ==========================================================================
   # DOCUMENT STYLES
   ========================================================================== */

/*
 * 1. Inform browser that default colour scheme for entire page is light.
 * (It’ll use that info for default form styles). Also set custom page colour settings appropriately.
 * 2. When user’s OS-level preference is for a dark appearance, inform browser
 * to use a dark colour scheme e.g. for default form styles. Also set custom page colour settings.
 * 3. Accent colour (used by some form controls e.g. radios and checkboxes)
*/

:root {
  /* [1] */
  color-scheme: light;
  --color-page-bg: var(--color-page-bg-light);
  --color-ink: var(--color-ink-dark);
  --color-ink-offset: var(--color-grey-dark);
  --color-band: var(--color-darker);
  --color-ink-on-band: var(--color-grey);
  --color-highlight: var(--color-highlight-darker);

  @media (prefers-color-scheme: dark) {
    /* [2] */
    color-scheme: dark;
    --color-page-bg: var(--color-page-bg-dark);
    --color-ink: var(--color-ink-light);
    --color-ink-offset: var(--color-grey);
    --color-highlight: var(--color-highlight-dark);
  }

  /* [3] */
  accent-color: var(--color-highlight);
}

body {
  background-color: var(--color-page-bg);
  color: var(--color-ink);
}
