@font-face {
  font-family: Source Sans Pro;
  src: url(/fonts/sans/SourceSans3-Regular-subset.woff2) format("woff2"),
       url(/fonts/sans/SourceSans3-Regular-subset.zopfli.woff) format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Source Sans Pro;
  src: url(/fonts/sans/SourceSans3-It-subset.woff2) format("woff2"),
       url(/fonts/sans/SourceSans3-It-subset.zopfli.woff) format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Source Sans Pro;
  src: url(/fonts/sans/SourceSans3-Semibold-subset.woff2) format("woff2"),
       url(/fonts/sans/SourceSans3-Semibold-subset.zopfli.woff) format("woff");
  font-weight: 600;
  font-display: swap;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}
