@use 'variables_general';
@use 'typography';

// modified version of Hawkswork’s Search

.invisible {
  display: none;
}

.search-ui {
  width: 100%;
  align-self: flex-end;
}

.global-search-form {
  margin: 0 auto;
}

.search-results {
  margin-top: typography.$space-xxs;
  margin-left: auto;
  margin-right: auto;
}

.search-results li {
  background: #F2F1F0; // same as logo roundel background
  border-radius: variables_general.$global-border-radius;
  padding: typography.scale-value(-5)+rem typography.$space-xxs;
  line-height: 1.2rem;
}

.search-results li+li {
  margin-top: typography.scale-value(-5)+rem;
}
