// Tables for data

.table-container {
  overflow-x: auto;
}


// Old school: Dan C.
// To Do: refine with variables, relative padding etc.

table {
  border-collapse: collapse;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  min-width: 100%;
}

th, td {
  padding: .5em;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  font-size: scale-value(-1)+rem;
}

caption {
  max-width: 100%;
  margin-bottom: 0.5em;
}
