/* ==========================================================================
   # SIMPLEST RESET (JUST A 1ST DRAFT)
   ========================================================================== */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	font-family: system-ui, sans-serif;
  font-size: 115%;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

svg {
  display: block;
}

pre code {
  white-space: pre-wrap;
}

/* ==========================================================================
   # HIDING
   ========================================================================== */

/*
 * 1. Hide from all contexts
 * 2. Hide visually but not from keyboard navigation nor from screen readers.
 * Ref: Scott O’Hara’s best practice method https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
 * 3. Alternative visually hidden technique for special cases when we want to animate content into view on focus…
 * …the most common example being the “Skip to content” pattern.
*/

/* [1] */

.u-hidden-from-all,
[hidden] {
  display: none !important;
}

/* [2] */

.u-visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px; /* stylelint-disable-line unit-disallowed-list */
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; /* stylelint-disable-line unit-disallowed-list */
}

/* [3] */

.u-hidden-until-focused {
  left: -100vw;
  position: absolute;

  &__item {
    z-index: 1;
    background: var(--color-blue);
    color: var(--color-white);
    left: 0;
    padding: 0.75em;
    position: fixed;
    top: 0;
    transform: translateY(-10em);
    transition: transform .2s ease-in-out;

    &:focus {
      transform: translateY(0em); /* stylelint-disable-line length-zero-no-unit */
    }
  }

  .u-hidden-until-focused__link {

    &:hover {
      color: var(--color-white);
    }
  }
}

/* ==========================================================================
   # IMAGES
   ========================================================================== */

/*
 * 1. Remove the border on images in older browsers.
 * 2. Set images to display block because we will never want to display them inline.
 * 3. Prevent wide images from overflowing their parent, and cap their width sensibly.
 * 4. Ensure an image’s aspect ratio is maintained when it has the HTML height attribute set AND also CSS max-width has been triggered.
 * 5. Explictly set an image to 100% container-width so that we know it will achieve that width even if
      it has a width attribute (present for performance reasons) set to something narrower. Note: I have not included height: auto.
      It’s only required when the image has the HTML height attribute set and I already have a previous rule above dealing with that.
*/

img {
  /* [1] */
  border-style: none;

  /* [2] */
  display: block;

  /* [3] */
  max-width: 100%;
  max-width: min(60rem, 100%); /* stylelint-disable-line declaration-block-no-duplicate-properties */

  /* [4] */
  &[height] {
    height: auto;
  }

  /* [5] */
  .img-full-parent-width {
    width: 100%;
  }
}

/* ==========================================================================
   # ICONS
   ========================================================================== */

.text-icon-pair { // todo: rename to .icon__with-text or similar
  display: inline-flex;
  align-items: center;
  gap: 0.125em;
}

/* ==========================================================================
   # BUTTONS
   ========================================================================== */

// todo: the HTML should reuse .icon__with-text rather than reinventing.

.btn-icon {
  display: flex;
  align-items: center;
  gap: 0.125em;
}

/* ==========================================================================
   # ARTICLES
   ========================================================================== */

// this is horrible. Sort the HTML out.

article header div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* ==========================================================================
   # PAGE LAYOUT
   ========================================================================== */

// Temporary way of setting measure just so that banner can be full-width but everything else not.
#global-header, main, #global-footer {
  max-width: 65ch;
  margin: 1rem;
}

/* ==========================================================================
   # BANNER
   ========================================================================== */

.banner {
  max-width: 100%;
  background: #333;
  color: #fff;
  padding: 1rem;

  > * {
    margin: 0;
  }
}
