---
layout: layouts/page.njk
title: Journal
permalink: posts/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}index.html
eleventyNavigation:
  key: Journal
  order: 1
pagination:
  data: collections.posts
  size: 10
  reverse: true
  alias: posts
---
{% set postslist = posts %}
{% include "postslist.njk" %}

<nav class="traverse">
  {%- if pagination.nextPageHref %}<a rel="prev" href="{{ pagination.nextPageHref }}"><span aria-hidden="true">←</span> Older Posts</a>{%- endif %}
  {%- if pagination.previousPageHref %}<a rel="next" href="{{ pagination.previousPageHref }}">Newer Posts <span aria-hidden="true">→</span></a>{%- endif %}
</nav>

