---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
navpos: 1
bodyclass: page-home
---

{% set postslist = collections.liveposts | head(-5) | reverse %}

<h2 class="posts-list-group-heading">Latest Posts</h2>

{% include "postslist.njk" %}

<p class="browse-more"><a href="{{ '/posts/' | url }}">Browse more posts</a></p>
