---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h2>Recently, I’ve been…</h2>

<ul>
<li>listening to <a href="/records/{{ records[0].basic_information.title | slug }}">{{ records[0].basic_information.artists[0].name }} – {{ records[0].basic_information.title }}</a> and other [new records](/records/)</li>
<li>reading Outraged by Dotty Charles</li>
<li>watching Michael Palin – Travels of a Lifetime on iPlayer</li>
<li>thinking about the Indieweb</li>
{# <li>hanging out with Clair and Rudy</li>
<li>[working](https://www.freeagent.com/)</li>
<li>[playing with animation](https://codepen.io/fuzzylogicx/pen/vYKGJQW)</li>

<li>watching TENƎT (twice)</li>
<li>using Feedbin</li>
<li>weaning myself off Facebook.</li> #}
{# <li>Working at Z, Learning from A, Making: B".</li> #}
</ul>

<h1>Latest 3 Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
