---
pageSpecificRobotsDirective: "noindex, nofollow"
eleventyExcludeFromCollections: true
layout: layouts/container_width.njk
pagination:
  data: inspiration.websitedesign
  size: 20
  alias: inspiration
permalink: inspiration/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}index.html
title: "Inspiration: Website Designs"
---

<h1>{{ renderData.title or title }}</h1>

<div class="grid" data-min="18ch">
  {% for item in inspiration %}
    <div>
      <a href="{{ item.url }}">{{ item.name }}</a>
      <div>{{ item.notes }}</div>
    </div>
  {% endfor %}
</div>

<nav class="traverse" aria-label="Pagination">
  {%- if pagination.nextPageHref %}<a rel="prev" href="{{ pagination.nextPageHref }}"><span aria-hidden="true">←</span> Older items</a>{%- endif %}
  {%- if pagination.previousPageHref %}<a rel="next" href="{{ pagination.previousPageHref }}">Newer items <span aria-hidden="true">→</span></a>{%- endif %}
</nav>
