---
layout: layouts/container_width.njk
pagination:
  data: photos
  size: 10
  alias: photos
permalink: photos/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}index.html
title: Photos
---

<header class="section-index-header">
  <h1>{{ renderData.title or title }}</h1>
</header>

<div class="grid" data-min="18ch">
  {% for photo in photos %}
    <a href="/photos/{{ photo.asset_id }}/">
      <img
        src="https://res.cloudinary.com/fuzzylogic/image/upload/w_600,ar_1:1,c_fill,g_auto/v{{ photo.version }}/{{ photo.public_id }}.{{ photo.format }}"
      />
    </a>
  {% endfor %}
</div>

<nav class="traverse">
  {%- if pagination.nextPageHref %}<a rel="prev" href="{{ pagination.nextPageHref }}"><span aria-hidden="true">←</span> Older Photos</a>{%- endif %}
  {%- if pagination.previousPageHref %}<a rel="next" href="{{ pagination.previousPageHref }}">Newer Photos <span aria-hidden="true">→</span></a>{%- endif %}
</nav>
