---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - link
    - entry
    - note
    - tagList
eleventyExcludeFromCollections: true
layout: layouts/page.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
{% set postslist = collections[ tag ] | reverse %}
{% include "postslist.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
