---
permalink: /bookshelf/
layout: layouts/container_width.njk
title: Bookshelf
---
{% if books %}

<h1>{{ renderData.title or title }}</h1>

  <div class="stack reading-years">
    {% for years in books %}
      <div class="reading-year">
        <div class="stack">
          <h2>{{ years.year }}</h2>
          <div class="books" data-min="18ch">
            {% for book in years.books %}
              <div class="stack book">
                <a class="frame book-cover" href="{{ book.url | url }}" aria-label="Buy {{ book.title }}">
                  <img src="{{ book.img }}" alt="{{ book.title }}">
                </a>
                <div class="stack book-info">
                  <h3>{{ book.title }}</h3>
                  {% if book.subtitle %}<p>{{ book.subtitle }}</p>{% endif %}
                  <p>{{ book.author }}</p>
                  {% if book.notes %}
                  <details>
                      <summary>{{ book.rating }}</summary>
                      <div class="notes">{{ book.notes | markdownStringToHTML }}</div>
                  </details>
                  {% else %}
                  {% if book.rating %}<p>{{ book.rating }}</p>{% endif %}
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div> <!-- /.grid -->
        </div>
      </div>
    {% endfor %}
  </div> <!-- /.stack -->

{% else %}
  No books.
{% endif %}
