---
title: "Records"
layout: layouts/post.njk
pagination:
  data: records
  size: 5
permalink: "/records/"
---

<ol class="postlist">
  {% for record in records %}
    <li class="postlist-item">
      <a href="/records/{{ record.basic_information.title | slug }}/">
        {{ record.basic_information.artists[0].name }} –
        {{ record.basic_information.title }}
        ({{ record.basic_information.labels[0].name }})
      </a>
    </li>
  {% endfor %}
</ol>
