---
permalink: search.json
---
{"search" : [
{%- for item in collections.liveposts -%}
  {
    {% if item.data.externalurl %}"url" : "{{ item.data.externalurl }}",
    {% else %}"url" : "{{ item.url }}",{% endif %}
    {% if item.data.title %}"title" : "{{ item.data.title }}",
    {% else %}"title" : "Note {{ item.date | readableDate }}: {{ item.data.description | truncate(40) }}",{% endif %}
    "text" : "{{ (item.data.title + " " + item.templateContent) | squash }}"
  }{% if not loop.last %},{% else %}{%- endif -%}
{%- endfor -%}
]}
