---
permalink: /tags/
layout: layouts/page.njk
title: Tags
---
<div class="cluster">
  <ul class="tags">
  {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <li><a rel="tag" href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
  {% endfor %}
    </ul>
  </div>
