---
permalink: "css/theme.css"
---

:root {
  --measure: {{ tokens.measure }};
  --color-dark: {{ tokens.colorDark }};
  --color-darker: {{ tokens.colorLight }};
  --color-light: {{ tokens.colorLight }};
  --color-grey: {{ tokens.colorGrey }};
  --color-highlight: {{ tokens.colorHighlight }};
  --color-text: {{ tokens.colorText }};
}
