---
title: Sorry – page not found
layout: layouts/page.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---
<div class="prose">
  <h1>{{ title }}</h1>

  <p>We couldn’t find the page at this address. Try the <a href="/">homepage</a>.</p>
</div>


