---js
const layout = "layouts/home.njk";
const numberOfLatestPostsToShow = 5;
const bodyclass = "page-home";
---

Reinstate sitemap and feeds the new way

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) | reverse %}

{% include "postslist.njk" %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
