---
eleventyExcludeFromCollections: true
layout: layouts/page_flexible.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - link
    - entry
    - note
    - tagList
eleventyComputed:
  title: Tagged “{{ tag }}”
  pageSpecificRobotsDirective: noindex
permalink: /tags/{{ tag }}/
---
<h1 class="prose">Tagged “{{ tag }}”</h1>

{% set postslist = collections[ tag ] | reverse %}
{% include "postslist.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
