<section class="l-flow h-feed centre">
{% for post in postslist %}
  <article class="l-flow h-entry prose">
    <header>
      <div class="post__meta">
        <time class="dt-published" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        {% if(post.data.tags[1] === 'note') -%}
          at <a href="{{ post.url | url }}">{{ post.date | readableTime }}</a>{% if(post.data.location) -%}, {{ post.data.location }}{% endif -%}
        {% endif -%}
      </div>
      {% if (post.data.tags[1] !== 'note' or post.data.noteWithTitle) -%}
        <h3 class="feed-entry-title"><a rel="bookmark" class="p-name u-url" href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
      {% else -%}
        {# <p><a href="{{ post.url | url }}">{{ post.date | readableTime }}</a> <span>·</span> {{ post.data.location }}</span></p> #}
      {% endif -%}
    </header>
    <div class="l-flow e-content">
    {% if (post.data.page.excerpt) -%}
      {%- set excerpt = post.data.page.excerpt -%}{{ excerpt | markdownStringToHTML | safe }}
      {% if post.data.mainImage.url and (app.environment == "production") %}
      <figure>
      {%- if post.data.mainImage.isAnchor %}<a href="{{ post.url | url }}">{%- endif %}
      {% respimg "" + post.data.mainImage.url + "", "" + post.data.mainImage.alt + "", "(min-width: 1600px) 646px, (min-width: 700px) 612px, 91.58vw", post.data.mainImage.aspectRatioWidth, post.data.mainImage.aspectRatioHeight %}
      {%- if post.data.mainImage.isAnchor %}</a>{%- endif %}
      {%- if post.data.mainImage.figcaption %}<figcaption>{{ post.data.mainImage.figcaption }}</figcaption>{%- endif %}
      </figure>
      {% endif %}
    {%- else -%}
      {{ post.templateContent | markdownStringToHTML | safe }}
    {%- endif %}
    </div>
    {# <footer class="stack">
      <div class="cluster">
        <ul class="tags">
        {% for tag in post.data.tags %}
          {%- if (tag != "posts") and (tag != "link") and (tag != "note") and (tag != "entry") -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <li><a rel="tag" href="{{ tagUrl | url }}" class="tag">{{ tag }}</a></li>
          {%- endif -%}
        {% endfor %}
        </ul>
      </div>
    </footer> #}
  </article>
{% endfor %}
</section>
