<div class="h-feed">
  {% for post in postslist %}
  <article class="prose h-entry">

    <header class="prose post__header">
      {% if (post.data.tags[1] !== 'note' or post.data.noteWithTitle) -%}
        <h3 class="feed-entry-title"><a rel="bookmark" class="p-name u-url" href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
      {% else -%}
        {# <p><a href="{{ post.url | url }}">{{ post.date | readableTime }}</a> <span>·</span> {{ post.data.location }}</span></p> #}
      {% endif -%}
      <div class="post__meta">
        <span class="u-visually-hidden">A {{ post.data.postType }} posted on</span>
        <time class="dt-published" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        in
        <a rel="tag" href="/tags/{{ post.data.topLevelCategory | url }}" class="tag">{{ post.data.topLevelCategory }}</a>
      </div>
    </header>
    <div class="prose e-content">
      {% set post_content = post.content %}
      {% if (post.page.excerpt) -%}
        {% set post_content = post.page.excerpt | md %}
      {% endif -%}

      {% if (loop.first) -%}
        {{ post_content | loadFirstImageInPostSynchronously | safe }}
      {% else -%}
        {{ post_content | safe }}
      {% endif -%}
    </div>
    {% if (post.page.excerpt) -%}
    <footer class="">
      <a rel="bookmark" class="p-name u-url" href="{{ post.url | url }}">
        Continue reading <span class="u-visually-hidden">“{{ post.data.title }}”</span>
      </a>
    </footer>
    {% endif -%}

    {# <footer class="stack">
      <div class="cluster">
        <ul class="tags">
        {% for tag in post.data.tags %}
          {%- if (tag != "posts") and (tag != "link") and (tag != "note") and (tag != "entry") -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <li><a rel="tag" href="{{ tagUrl | url }}" class="tag">{{ tag }}</a></li>
          {%- endif -%}
        {% endfor %}
        </ul>
      </div>
    </footer> #}
  </article>
{% endfor %}
</div>
