---
pageTitle: About
title: About
permalink: about/index.html
---

<div class="centre-with-gutter">

  <article class="prose">

    <h1>About</h1>

    <h2>Web</h2>

    <p>I’ve been working as a web developer since 2003.</p>
    <p>The web inspired me then (as it does now) because a single person can create and publish something that becomes instantly available around the world; and also because of the guiding principle that it should be an information-sharing resource <em>accessible to all</em>.</p>

    <p>Shortly after cutting my teeth as a developer I read <a href="https://en.wikipedia.org/wiki/Designing_with_Web_Standards#Summary">Designing with Web Standards</a> and that had a big impact on me. In the years since then I’ve always enjoyed balancing cutting-edge technology alongside usability and accessibility.</p>

    <h2>Music</h2>

    <p>I’ve been collecting records since I was fifteen and playing or making music for longer still. Growing up in the eighties, electronic music was the sound that grabbed my attention and electronic music in all its forms has been a big part of my life ever since.</p>
    <p>My first release (under the name Elijah) was in 2002 – a track called Ice 2 Go on <a href="https://www.discogs.com/Various-Better-By-Design/release/110485"><em>Better by Design</em></a> from Glasgow label Iridite. Nowadays I co-run and release music on a label called <a href="https://www.discogs.com/The-Nuclear-Family-vs-Other-Lands-Surface-Noise/release/12684949">The Nuclear Family</a>.</p>

  </article>

</div>
