---
pageTitle: Labs
title: Labs
section: labs
permalink: labs/index.html
---

<div class="centre-with-gutter">

  <article class="prose">

    <header class="section-index-header">
      <h1>Labs</h1>
    </header>

    <h2>Vanilla JS Experiments</h2>
    <ul>
      <li><a href="/labs/vanilla_js_state_based_ui_lunch.html">State-based UI with Vanilla JS</a></li>
    </ul>

    <h2>CSS Grid Experiments</h2>
    <ul>
      <li><a href="/labs/grid-layout-1.html">CSS Grid Layout 1</a></li>
    </ul>

    <h2>Previous versions of this site</h2>
    <ul>
      <li><a href="/labs/site-version-1.html">Version #1</a></li>
    </ul>

  </article>

</div>
