---
layout: single_column_layout.liquid
pageTitle: Thoughts
section: thoughts
pagination:
  data: collections.thoughts
  size: 10
  reverse: true
  alias: thoughts
title: Thoughts
metaDescription: Longer-form articles on web development, music and more
permalink: thoughts/index.html
ogImagePath: /assets/img/open_graph_share_example_1200x630.jpg
ogImageAlt: A photo of a country landscape
---

<section class="centre-with-gutter stack">

  <header class="section-index-header">
    <h1>Thoughts</h1>
  </header>

  <div class="h-feed">

    {% for post in thoughts %}
      <article class="h-entry prose">
        <header>
          <time class="dt-published">{{ post.date | date: "%A, %b %d, %Y" }}</time>
          <h3 class="feed-entry-title"><a rel="bookmark" class="p-name u-url" href="{{ post.url | url }}">{{ post.data.pageTitle }}</a></h3>
        </header>
        <div class="e-content">
          {{ post.templateContent }}
        </div>
        <!-- <footer>more meta stuff</footer> -->
      </article>
    {% endfor %}

  </div>

</section>
