// Presets, functions and resets
@import "components/variables_general.scss";
@import "components/mixins_general.scss";
@import "components/resets_and_improvements.scss";

// Typographic and other core HTML elements
@import "components/typography.scss";
@import "components/list_utils.scss";
@import "components/demoing_code.scss";
@import "components/tables.scss";

// Layout and responsiveness
@import "components/responsive_layout_utilities.scss";
@import "components/media_objects.scss";
@import "components/breakout.scss";
@import "components/rooted_footer.scss";

// Buttons, special links, and forms
@import "components/svg_and_text_pairs.scss";
@import "components/forms_and_buttons.scss";

// Other components
@import "components/profile_pic.scss";
@import "components/tabs.scss";
@import "components/skip_links.scss";
@import "components/modals.scss";
@import "components/show_and_hide.scss";
@import "components/content_slider.scss";
@import "components/cookieconsent2_3.1.0.min.scss";




///////////////////////////////////
// Common patterns
///////////////////////////////////

// Intro

.intro {
  --flow-space: #{scale-value(2)}rem;
  border: 1px solid red;

  @include at-least($bp-wide-one) {
    padding-top: $space-l;
    padding-bottom: $space-l;
  }
  /*@include at-least($bp-wide-four) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }*/

  h1 {
    font-weight: 400;
    font-size: scale-value(3)+rem;
    @include at-least($width-pressure-point-one) {
      font-size: scale-value(4)+rem;
    }
    @include at-least($bp-wide-four) {
      font-size: scale-value(5)+rem;
    }
  }
}

// Header Banners

.header-banner {
  background: $color-light;
  padding-top: 3em;
  padding-bottom: 3em;

  h1 {
    /*@include at-least($width-pressure-point-one) {
      font-size: scale-value(3)+rem;
    }*/
  }
}


// Blog stuff

.entry-meta {
  color: #999;

  a {
    color: #999;
    text-decoration: underline solid #999;
  }
}

.published { //.dt-published
  //color: gray;
}

.entry-meta .posted-on::before {
  content: " · ";
}



///////////////////////////////////
// Global Header
///////////////////////////////////

.global-header {
  //border-bottom: 1px solid $border-color;
  padding-top: $space-xxs;
  padding-bottom: $space-xxs;

  a {
    text-decoration: none;
  }
}

.header-content {
  display: flex;
  align-items: center;

  & > * + * {
    margin-top: 0;
    margin-left: $space-s;
  }
}

.logo {
  line-height: 1;
  margin-right: auto;

  svg {
    display: block;
    height: 3em;
    width: 2.625em; // divide height by 1.14285 to maintain our logomark’s proportions.

    @include at-least($bp-wide-two) {
      height: (scale-value(4) + scale-value(1))+rem;
      width: ((scale-value(4) + scale-value(1)) / 1.14285)+em;
    }
  }
}

.header-menu-toggle a::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .2em;
    vertical-align: .15em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}


// BBC-style greedy navigation

.header-menu-hidden {
  display: none;
}



/////////////////
// Global Footer
/////////////////

.global-footer {
  background: $text-color;
  color: #fff;
  padding-top: var(--flow-space);
  padding-bottom: var(--flow-space);

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-menu-list {
  max-width: none;

  // A simple 2–3 columns layout.
  // It’s prescriptive (a min of 2 and max of 3 cols) so I’m opting not to use the more unpredictable .grid component. Also, multicol has great support.
  columns: 2;
  @include at-least($bp-wide-one) {
    columns: 3;
  }

  li {
    font-size: scale-value(-1)+rem;
  }
  li + li {
    margin-top: scale-value(-6)+rem;
  }
}






///////////////////
// Primary Content
///////////////////

.primary-content {
  padding-top: $space-l;
  padding-bottom: 3rem;

  &.with-header-banner {
    padding-top: 0;
  }
}




///////////////////
// Index page
///////////////////

/*.features-benefits {

  section {
    margin-top: $space-m;

    @include at-least($width-pressure-point-one) {
      margin-top: $space-l;
    }
  }
}*/

/*.features-benefits-wrap {
  --flow-space: #{$space-l};
}*/




// Print styles
@import "components/print.scss";
