/* ==========================================================================
   # SETTINGS
   ========================================================================== */

   :root {
    --measure: 60ch;
    --color-dark: rgb(38,38,38);
    --color-darker: rgb(26,26,26);
    --color-light: rgb(255,255,255);
    --color-grey: rgb(153,153,153);
    --color-highlight: rgb(158,216,210);
    --color-text: rgb(18,18,18);

    --color-page-bg-light: var(--color-light);
    --color-page-bg-dark: var(--color-dark);
    --color-ink-dark: var(--color-text);
    --color-ink-light: var(--color-light);
  }
