<div class="l-box">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam obcaecati error provident porro nam totam? Nesciunt, architecto nulla. Sequi quasi labore cumque esse, ipsam quas quibusdam nemo earum. Vel, consequuntur.</p>
</div>
