---
layout: single_column_layout.liquid
title: Homepage
pageTitle: Welcome to my blog
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
bodyClass: page-home
---

<div class="container">

  <section class="intro prose">

    <h1>Hi! I’m Laurence Hughes, a <span class="nobreak">web developer</span> from Glasgow.</h1>

    <p class="no-hyphens">I work on the front-end, creating responsive web apps and pattern libraries which balance design, technology and accessibility. In my spare time I make music, play  records and ping pongs. Fuzzy Logic is my online home, where I try out web stuff and ramble about code, music and more.</p>

  </section>

</div>

<div class="centre">

  <section class="home-feed-wrap h-feed centre">

    {% for post in posts %}
      <article class="h-entry prose">
        <header>
          <h3 class="entry-title"><a rel="bookmark" class="p-name u-url" href="{{ post.url | url }}">{{ post.data.pageTitle }}</a></h3>
          <p class="dt-published">{{ post.date | date: "%A, %b %d, %Y" }} in <a class="p-category" href="/">Thoughts</a></p>
        </header>
        <div class="e-content">
          {{ post.templateContent }}
        </div>
        <!-- <footer>more meta stuff</footer> -->
      </article>
    {% endfor %}

  </section>

</div>
