<!doctype html>
<html dir="ltr" lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {%- if (renderData.title) -%}
      {{ renderData.title }} | {{ metadata.name }}
      {%- elif (noteTitle) -%}
      {{ metadata.name }} Note #{{ noteTitle }} | {{ metadata.name }}
      {%- elif (title) -%}
      {{ title }} | {{ metadata.name }}
      {%- else -%}
      {{ metadata.title }}
      {%- endif -%}
    </title>

    <link rel="preload" href="/fonts/sans/SourceSans3-Regular-subset.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/sans/SourceSans3-Semibold-subset.woff2" as="font" type="font/woff2" crossorigin>

    <!-- THIS COMMENT WILL BE REPLACED WITH INLINED, MINIFIED CSS -->

    <meta name="author" content="{{ metadata.author.name }}">
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <meta name="keywords" content="front-end, frontend, front-end developer, web developer, web developer glasgow, html, css, javascript, vanilla javascript, accessibility, sofrito" />

    <link rel="canonical" href="{{ metadata.url_base }}{{ page.url }}" />

    <meta name="robots" content="{{ pageSpecificRobotsDirective or 'index, follow' }}">

    <!-- OG tags: most important -->
    <meta property="og:title" content="{{ renderData.title or title or metadata.title }}" />
    <meta property="og:description" content="{{ renderData.description or description or metadata.description }}" />

    <meta property="og:image" content="{{ openGraphImage or metadata.open_graph.image }}" />

    <meta property="og:url" content="{{ metadata.url_base }}{{ page.url }}" />

    <!-- OG tags: extra credit -->
    <meta property="og:site_name" content="{{ metadata.url }}" />

    <!-- Twitter-specific -->
    <meta name="twitter:card" content="summary"> <!-- summary_large_image -->
    <meta name="twitter:image:alt" content="{{ metadata.open_graph.image_alt_text }}">

    <!-- Advice for devices which can 'install' this website on their home screen -->
    <link rel="manifest" href="/site.webmanifest">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="{{ metadata.name }}">
    <meta name="application-name" content="{{ metadata.name }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.name }}">

    {# Module scripts are deferred (non render-blocking) by default. -#}
    {# I place in the head rather than at bottom to allow it to be DL’d early in parallel -#}
    {# so that the JS is already available as soon as the DOM is ready -#}
    <script type="module">
      {%- set js -%}
        import enhanceSearch from '/assets/js/search.js';
        import patchMinForGrids from '/assets/js/patch_css_min_for_grids.js';

        // Enhance the search experience with JS
        enhanceSearch();

        // Patch browser support for CSS’s min() in .grid component instances.
        const grids = document.querySelectorAll('.grid');
        if (window.NodeList && NodeList.prototype.forEach) { // cuts-mustard check
          grids.forEach(function (grid, index) {
            patchMinForGrids(grid);
          });
        }
      {% endset -%}
      {{ js | jsmin | safe }}
    </script>

    <!-- webmentions -->
    <link rel="pingback" href="https://webmention.io/fuzzylogic.me/xmlrpc">
    <link rel="webmention" href="https://webmention.io/fuzzylogic.me/webmention">
  </head>
  <body{% if bodyclass %} class="{{ bodyclass }}"{% endif %}>

    <p>I’m currently updating my website. Sorry for things looking a little rough temporarily.</p>
    <a class="skip-link" href="#primary-content">Skip to main content</a>
    <header class="global-header">
      <a href="{{ '/' | url }}" class="global-header__logo">Fuzzy Logic</a>
      <nav class="global-header__menu">
        {% set navPages = collections.all | eleventyNavigation %}
        <ul role="list">
        {%- for entry in navPages %}
          <li id="nav-{{ entry.title | lower }}">
            <a{% if entry.url == page.url %} aria-current="page"{% endif %} href="{{ entry.url | url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
        </ul>
      </nav>
    </header>




    <!-- SVGs used repeatedly on the page are better defined as symbols, then <use>d -->
    <svg width="0" height="0" style="display: none;">
      <symbol id="icon-offsite" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <title>External Link</title>
        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6M15 3h6v6M10 14L21 3"></path>
      </symbol>
      <symbol id="icon-bookmark" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <title>Bookmark</title>
        <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
      </symbol>
      <symbol id="icon-note" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <title>Note</title>
        <rect x="5" y="2" width="14" height="20" rx="2" ry="2"></rect><line x1="12" y1="18" x2="12" y2="18"></line>
      </symbol>
      <symbol id="icon-entry" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <title>Entry</title>
        <path d="M20.24 12.24a6 6 0 0 0-8.49-8.49L5 10.5V19h8.5z"></path><line x1="16" y1="8" x2="2" y2="22"></line><line x1="17.5" y1="15" x2="9" y2="15"></line>
      </symbol>
      <symbol id="icon-search" viewBox="0 0 56.966 56.966">
        <title>Search</title>
          <path fill="currentColor" d="M55.146 51.887L41.588 37.786A22.926 22.926 0 0 0 46.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 0 0 .083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z"></path>
      </symbol>
    </svg>

    {% block main %}
    {# page-specific scripts are placed here #}
    {% endblock %}
  </body>
</html>
