---
layout: layouts/base.njk
templateClass: home-main
---

<div class="container">
  <section class="intro prose">
    <h1>Fuzzy Logic</h1>
    <p class="no-hyphens">Hi – I’m Laurence Hughes, a Glaswegian web developer creating responsive websites which balance design, technology and accessibility. I also make music, play records and ping pongs. This is my online home; a playground for coding fun and place to share thoughts on the web, music and more.</p>
  </section>
</div>

<div class="centre-with-gutter">

    {{ content | safe }}

</div>



