---
layout: layouts/base.njk
---

<div class="primary-content__body">
  <div class="l-center l-center--wrapper-narrow">

    <article class="l-flow prose">

      <header class="section-index-header">
        <h1>{{ renderData.title or title }}</h1>
      </header>

      {{ content | safe }}

    </article>

  </div>
</div>
