---
layout: layouts/base.njk
---

<div class="centre-with-gutter">

  <article>

    <figure>
      {% respimg "" + photoURL + "", "" + title + "", "(min-width: 1600px) 646px, (min-width: 700px) 612px, 91.58vw", aspectRatioWidth, aspectRatioHeight %}
      <figcaption>{{ title }}</figcaption>
    </figure>

  </article>

</div>
