---
layout: layouts/base.njk
templateClass: primary-content--post
---

<div class="primary-content__body">
  <div class="l-center l-center--wrapper-narrow">

    <article class="post l-flow h-entry prose" itemscope itemtype="http://schema.org/BlogPosting">

      <header class="post__header">
        {%- if (title) -%}
          {% set article_title = title %}
        {%- else -%}
          {% set article_title = "Note: " + (page.date | readableDate) + "," + (page.date | readableTime) %}
        {%- endif -%}
        {%- if (article_title) -%}<h1 class="p-name" itemprop="headline">{{ article_title }}</h1>{%- endif -%}

        <div class="post__meta">
          <time itemprop="datePublished" class="dt-published" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
          {% if(tags[1] === 'note') -%}
            at {{ page.date | readableTime }}{% if(location) -%}, {{ location }}{% endif -%}
          {% endif -%}
        </div>
      </header>

      {% if linkTarget %}
      <div class="post-source">
        <a class="text-icon-pair" href="{{ linkTarget }}">
          <span>Direct Link</span>
          <svg class="text-icon-pair-icon" aria-hidden="true" focusable="false" width="1em" height="1em"><use xlink:href="#icon-offsite"></use></svg>
        </a>
      </div>
      {% endif %}

      <div class="post-body l-flow e-content {{ "article-type-listing" if isList }}" itemprop="articleBody">

        {{ content | safe }}

      </div> <!-- /.e-content -->

      <footer class="l-flow l-flow--large post__footer">
        <div class="l-cluster tags">
          <p>Filed under:</p>
          <ul role="list" class="l-cluster">
          {% for tag in tags %}
            {%- if (tag != "posts") and (tag != "link") and (tag != "note") and (tag != "entry") -%}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <li><a rel="tag" href="{{ tagUrl | url }}" class="tags__tag">{{ tag }}</a></li>
            {%- endif -%}
          {% endfor %}
          </ul>
        </div>

        <nav class="traverse">
          {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
          {%- if previousPost %}<a rel="prev" href="{{ previousPost.url | url }}"><span aria-hidden="true">← </span>Previous post</a></li>{% endif %}
          {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
          {%- if nextPost %}<a rel="next" href="{{ nextPost.url | url }}">Next post<span aria-hidden="true"> →</span></a>{% endif %}
        </nav>
      </footer>
    </article>

  </div>
</div>
