// Lists (AB and CF and S O’H)

ul[class],
ol[class] {
  list-style: none;
  margin-left: 0;
  padding-left: 0
}

// Unbulleted, vertically-stacked list

/*.list-custom {
  margin-left: 0;
  padding-left: 0;
}*/

// Unbulleted horizontally-linear list

.list-compact {
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding-left: 0;
}

.list-compact > li {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/**
 * @bugfix Prevent webkit from removing list semantics
 * https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html
 * 1. Add a non-breaking space
 * 2. Make sure it doesn't mess up the DOM flow
 */
.list-custom > li:before,
.list-compact > li:before {
  content: "\200B"; /* 1 */
  position: absolute; /* 2 */
}
